<nav class="app">
    <div class="wrapper">
        <div class="header">
            <nav class="logo-bar">
                <div class="margin"></div>
                    <div class="content">
                        <img src="images/logos/logo_transparent.png" height="100px">
                    </div>
                <div class="margin"></div>
            </nav>
            <nav class="menu-buttons">
                <div class="margin"></div>
                <div class="content">
                    <a [routerLink]="['Services']">WHAT WE DO</a>
                    <a [routerLink]="['References']">SERVICES</a>
                    <a [routerLink]="['Company']">INDUSTRY EXPERTISE</a>
                    <a [routerLink]="['Blog']">CONSULTANCY SERVICES</a>
                    <a [routerLink]="['Contact']">PRODUCTS</a>
                </div>
                <div class="margin"></div>
            </nav>
        </div>
        <router-outlet></router-outlet>
        <div class="footer">
            <img src="images/logos/logo_transparent.png" width="350px">
        </div>
        <a href="https://itunes.apple.com/us/app/three-letter-words/id972472656" class="footer">
            <img src="images/logos/1.png" width="350px">
        </a>
        <a href="https://itunes.apple.com/us/app/jigsaw-puzzle-picture/id979067738" class="footer">
            <img src="images/logos/2.png" width="350px">
        </a>
        <a href="https://itunes.apple.com/us/app/word-match-puzzle/id985000427" class="footer">
            <img src="images/logos/3.png" width="350px">
        </a>
        <a href="https://itunes.apple.com/us/app/make-matching-lines/id981020375" class="footer">
            <img src="images/logos/4.png" width="350px">
        </a>
        <a href="https://itunes.apple.com/us/app/new-word-search/id982842215" class="footer">
            <img src="images/logos/5.png" width="350px">
        </a>
        <a href="https://itunes.apple.com/us/app/match-lines/id980923400" class="footer">
            <img src="images/logos/6.png" width="350px">
        </a>
    </div>
</nav>
<div class="mobile-menu-screen" *ngIf="showMenuScreen">
    <div class="a-box"><div class="vertical-middle">
        <a [routerLink]="['Services']" (click)="MenuOff()">WHAT WE DO</a>
    </div></div>
    <div class="a-box"><div class="vertical-middle">
        <a [routerLink]="['References']" (click)="MenuOff()">SERVICES</a>
    </div></div>
    <div class="a-box"><div class="vertical-middle">
        <a [routerLink]="['Company']" (click)="MenuOff()">INDUSTRY EXPERTISE</a>
    </div></div>
    <div class="a-box"><div class="vertical-middle">
        <a [routerLink]="['Blog']" (click)="MenuOff()">CONSULTANCY SERVICES</a>
    </div></div>
    <div class="a-box"><div class="vertical-middle">
        <a [routerLink]="['Contact']" (click)="MenuOff()">PRODUCTS</a>
    </div></div>
</div>
<div class="mobile-menu">
    <div class="margin"></div>
    <div class="content">
        <img src="images/logos/company-logo.png" height="50px">
    </div>
    <div class="margin"></div>
    <div class="menu-link" (click)="MenuToggle()">
        <div class="box-shadow-menu" *ngIf="!showMenuScreen"></div>
        <div class="close-menu" *ngIf="showMenuScreen">&#10006;</div>
    </div>
</div>
